body{
    background: #cebdbd;
}

p {
    color: rgb(34, 34, 34);
}

.foto-principal { 
    
    /* o border tem outras tags para mexer com determinadas coisas especificas, porém vc tbm consegue mexer nele de forma generalizada usando só o "border", sendo a ordem importante
    border-width: 50px;
    border-style: solid; 
    border-color: black; */

    /*
    border-top-style: dotted;
    border-right-style: solid;
    border-bottom-style: dotted;
    border-left-style: solid;
     */
    
    width: 200px;
    border: 1px solid #ffffff; /*shorthand*/
    border-radius: 50%; /* contem até 4 valores, em sentindo horário */
    /* margin-top: 30px;
    margin-bottom: 100px;
    margin-left: 100px; */
    margin: 30px 30px 30px 30px; /* mesma coisa do border radius */


}
